.form-field {
    margin-top: 10px;
}

.form-field-btn {
    margin: 10px;
}

.form-field-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.removeItem {
    cursor: pointer;

    &:hover {
        color: red;
    }
}

.cart-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-btns{
    margin: 10px;
}