.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 2rem;
}

.spinner .loader {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner .loader:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scale 1.5s ease-in-out infinite;
}