.form-container {
    width: 400px;
    max-width: 400px;
}

.form-field {
    margin-top: 10px;
}

.form-field-btn {
    margin: 10px;
}

.form-field-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}