.item-card-area{
    cursor: default !important;
}
.img-card-1 {
    max-width: 250px;
    max-height: 250px;
}

.no-stock-item {
    cursor: default !important;
}

.discount-item {
    color: #00a650 !important;
}