.menu-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuLista {
    list-style: none;
    display: flex;
}

.menuListaMobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1976d2;
    list-style: none;
}

.cart-number {
    display: flex;
    align-items: center;
}

.nombreTienda {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.link-category {
    text-decoration: none;
}

.nombreTiendaMobile {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Bounce To Top */
.menuBtn {
    --b: 1px;
    /* border thickness */
    --s: .15em;
    /* size of the corner */
    --c: #ffffff;
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin: .1em;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:hover,
    :focus,
    :active {
        color: white;
    }

    &:hover:before,
    :focus:before,
    :active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
}