.menuLista {
    list-style: none !important ;
    display: flex;
}

.menuBtn {
    --b: 1px;
    /* border thickness */
    --s: .15em;
    /* size of the corner */
    --c: #ffffff;

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin: .1em;

    &:hover,
    :focus-visible {
        --_p: 0px;
        outline-color: var(--c);
        outline-offset: .05em;
    }

    &:active {
        background: var(--c);
        color: #000;
    }
}
.cart-number {
    display: flex;
    align-items: center;
}

.nombreTienda {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
}