/* Box sizing reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Margin and padding reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* List reset */
ol,
ul {
    list-style: none;
}

/* Typography reset */
body {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.titulo {
    text-align: center;
}