.cards {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.itemlist-category {
    text-align: center;
    max-width: 200px;
    margin: auto;
    margin-bottom: 1.2rem;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}